{% extends 'testBg/main.html' %}

{% block content %}
<h1>Test Page</h1>
<p>This is the test page content.</p>
{{ key }} <br>
<hr>
{{ key1 }}, <br>
{{ talaba.name}}
<hr>
{{ talaba.age}}
{{ key2 }}, <br>
<hr>
{{ key3 }}, <br>
<hr>
{{ key4 }}, <br>
<hr>
{{ key5.a }}, <br>
<hr>
{{ key6 }}, <br>
<hr>
{{ key7 }}, <br>
<hr>
{{ key8 }}, <br>
<hr>
{{ key9 }}, <br>
<hr>
{{ key10 }}, <br>
<hr>
{{ key11 }}, <br>
<hr>
{{ key12 }}, <br>
<hr>
{{ key13 }}, <br>
{{ key14 }}, <br>
{{ key15 }}, <br>
{{ key16 }}, <br>
{{ key17 }}, <br>
{{ key18 }}, <br>
{{ key19 }}, <br>
{{ key20 }}
{% endblock %}

# ctrl + alt + up or down to move line